# Node modules
/node_modules/

# Build output
/build/
/dist/

# Configuration files
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/.pnp
.pnp.js

# IDEs and text editors
/.vscode/
/.idea/
/.project
/.settings/

# OS-specific files
.DS_Store
Thumbs.db

# NPM or Yarn lock files (optional)
# If you're using Yarn and prefer to keep the lock file, keep `yarn.lock` in version control
yarn.lock
package-lock.json

# Build folders for various bundlers or compilers
/.next/
/out/
/coverage/

# Temporary files
/.tmp/
